@inject IHTTPService _http

@if (showModal)
{
    <!-- Modal -->
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <Title Icon="@icon"
                       Name="@title"
                       Description="@description"></Title>
                </div>
                <div class="modal-body">
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                    }
                    <div class="mb-3">
                        <label for="id" class="form-label">Inventory ID</label>
                        <input type="text" class="form-control" id="id" readonly="true" @bind="inventoryInfo.InventoryID">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" disabled="@disableEdit" @bind="inventoryInfo.Quantity">
                    </div>
                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        <select type="text" class="form-control" id="product" disabled="@disableEdit" @bind="inventoryInfo.ProductID">
                            <option value="@Guid.Empty">Select Product</option>
                            @foreach (var product in productList)
                            {
                                <option value="@product.ProductID">@product.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" disabled="@disableEdit" @onclick="() => Save()">
                        <span class="oi oi-data-transfer-download" aria-hidden="true"></span>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="() => Cancel()">
                        <span class="oi oi-x" aria-hidden="true"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    //Variable for Displaying and Hiding a Modal
    private bool showModal = false;

    private Inventory inventoryInfo = new Inventory();
    private List<Product> productList = new List<Product>();

    private string icon = string.Empty;
    private string title = string.Empty;
    private string description = string.Empty;

    private string errorMessage = string.Empty;

    private bool disableEdit = false;

    [Parameter]
    public EventCallback<Response> InventoryInfoResponse { get; set; }

    public async Task InitializeInventory(string inventoryID)
    {
        showModal = true;
        ResetData();
        StateHasChanged();

        var isAdd = string.IsNullOrEmpty(inventoryID);
        SetTitle(isAdd);

        await PopulateProducts();

        if (isAdd)
            return;

        //Edit Data
        var response = await _http.GetRequestAsync(Globals.GET_INVENTORY_BY_ID,
                                                   Globals.ClientInformation.ClientID,
                                                   inventoryID);
        if (response.Result != ResponseResult.SUCCESS)
        {
            errorMessage = response.Data;
            return;
        }
        inventoryInfo = JsonConvert.DeserializeObject<Inventory>(response.Data)!;
        //Not able to Edit information once the status is NOT Enabled
        disableEdit = inventoryInfo.Status != Constants.STATUS_ENABLED_INT;
    }

    private async Task PopulateProducts()
    {
        var response = await _http.GetRequestAsync(Globals.GET_PRODUCTS_BY_STATUS,
                                                   Globals.ClientInformation.ClientID,
                                                   Constants.STATUS_ENABLED_INT);
        if (response.Result != ResponseResult.SUCCESS)
        {
            errorMessage = response.Data;
            return;
        }
        productList = JsonConvert.DeserializeObject<List<Product>>(response.Data)!;
    }

    private async Task Save()
    {
        var isAdd = string.IsNullOrEmpty(inventoryInfo.InventoryID);

        inventoryInfo.InventoryID = isAdd ? string.Empty : inventoryInfo.InventoryID;
        inventoryInfo.Status = Constants.STATUS_ENABLED_INT;

        //Prepare Request for Save
        var request = new SaveInventoryRequest
            {
                FunctionID = isAdd ? Constants.FUNCTION_ID_ADD_INVENTORY_BY_ADMIN :
                                     Constants.FUNCTION_ID_CHANGE_INVENTORY_BY_ADMIN,
                RequestStatus = Constants.REQUEST_STATUS_COMPLETED,
                client = Globals.ClientInformation,
                inputInventory = inventoryInfo
            };

        //Send Request for Save
        var response = await _http.PostRequestAsync(Globals.POST_SAVE_INVENTORY, request);

        //Check Response Result
        if (response.Result != ResponseResult.SUCCESS)
        {
            errorMessage = response.Data;
            return;
        }

        showModal = false;
        ResetData();
        await InventoryInfoResponse.InvokeAsync(response);
    }

    private void Cancel()
    {
        showModal = false;
        ResetData();
        InventoryInfoResponse.InvokeAsync(null);
    }

    private void ResetData()
    {
        //Reset
        disableEdit = false;
        errorMessage = string.Empty;
        inventoryInfo = new Inventory();
    }

    private void SetTitle(bool isAdd)
    {
        title = string.Format(isAdd ? Constants.TITLE_ADD : Constants.TITLE_EDIT, Constants.OBJECT_INVENTORY);
        description = string.Format(isAdd ? Constants.DESC_ADD : Constants.DESC_EDIT, Constants.OBJECT_INVENTORY);
        icon = isAdd ? Constants.OI_PLUS : Constants.OI_PENCIL;
    }
}
