@page "/Product"
@inject IHTTPService _http
@inject IToastService _toast

<Title Icon="oi oi-tag"
       Name="Product"
       Description="In this page you can view all the Product that is saved in the system."></Title>

@*Product Action Buttons*@
<div class="cstm-actions">
    <div class="buttons">
        <button type="button" @onclick="() => ShowInfo()">
            <span class="oi oi-plus" aria-hidden="true"></span>
            Add
        </button>
        <button type="button" disabled="@disableOtherButtons" @onclick="() => EnableProducts()">
            <span class="oi oi-chevron-top" aria-hidden="true"></span>
            Enable
        </button>
        <button type="button" disabled="@disableOtherButtons" @onclick="() => DisableProducts()">
            <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
            Disable
        </button>
        <button type="button" disabled="@disableOtherButtons" @onclick="() => DeleteProducts()">
            <span class="oi oi-trash" aria-hidden="true"></span>
            Delete
        </button>
    </div>
    <div class="search">
        <input type="text" placeholder="Search Product" @oninput="SearchChange" />
    </div>
</div>

@*Product List*@
<table class="cstm-table">
    <thead>
        <tr>
            @*Select Checkbox*@
            <th class="cstm-column-checkbox">
                <input class="form-check-input" type="checkbox" checked="@selectAll" @onclick="() => SelectAllChange()">
            </th>
            <th class="cstm-column-button">Action</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Description</th>
            <th class="cstm-column-status">Status</th>
            <th class="cstm-column-date">Created Date</th>
            <th class="cstm-column-date">Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @if (productList.Count == 0)
        {
            <tr>
                <td colspan="7">
                    <div class="cstm-no-records">
                        @Constants.ERROR_NO_RECORDS
                    </div>
                </td>
            </tr>
        }
        else
        {
            @foreach (var product in productList)
            {
                <tr>
                    <td class="cstm-column-checkbox">
                        <input class="form-check-input" type="checkbox" checked="@product.isSelect" @onclick="() => Select(product)">
                    </td>
                    <td class="cstm-column-button">
                        <button class="cstm-table-button-edit" title="Edit" @onclick="() => ShowInfo(product.ProductID)">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>@product.ProductName</td>
                    <td>@product.BrandName</td>
                    <td>@product.CategoryName</td>
                    <td>@product.ProductDescription</td>
                    @*Status Column*@
                    <td class="cstm-column-status">
                        <span class="cstm-badge-@Utility.ConvertStatusToString(product.Status)">
                            @Utility.ConvertStatusToString(product.Status)
                        </span>
                    </td>
                    <td class="cstm-column-date">@product.CreatedDate.ToString(Constants.DATE_FORMAT)</td>
                    @*Modified Date Column*@
                    <td class ="cstm-column-date">
                        @if (product.ModifiedDate == null)
                        {
                            @Constants.NA
                        }
                        else {
                            @(((DateTime)product.ModifiedDate).ToString(Constants.DATE_FORMAT))
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<ProductInfoComponent @ref="productInfo" ProductInfoResponse="GetResponse"></ProductInfoComponent>

@code {
    private bool selectAll = false;
    private bool disableOtherButtons = true;
    private ProductInfoComponent? productInfo;
    private List<ProductFullInformation> productList = new List<ProductFullInformation>();

    protected override async Task OnInitializedAsync()
    {
        await PopulateProducts();
    }

    private async Task PopulateProducts(string? query = null)
    {
        ResetData();

        Response response;
        if (string.IsNullOrEmpty(query))
            response = await _http.GetRequestAsync(Globals.GET_PRODUCTS, Globals.ClientInformation.ClientID);
        else
            response = await _http.GetRequestAsync(Globals.GET_PRODUCTS_BY_QUERY, Globals.ClientInformation.ClientID, query);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }

        productList = JsonConvert.DeserializeObject<List<ProductFullInformation>>(response.Data)!;
        disableOtherButtons = productList.Where(data => data.isSelect).Count() == 0;
    }

    private async Task SearchChange(ChangeEventArgs e)
    {
        var query = string.Empty;
        if (e.Value != null)
            query = (string)e.Value;

        await PopulateProducts(query);
    }

    private async Task EnableProducts()
    {
        await UpdateStatusByIDs(Constants.FUNCTION_ID_BULK_CHANGE_PRODUCT_BY_ADMIN, Constants.REQUEST_STATUS_COMPLETED, Constants.STATUS_ENABLED_INT);
    }

    private async Task DisableProducts()
    {
        await UpdateStatusByIDs(Constants.FUNCTION_ID_BULK_CHANGE_PRODUCT_BY_ADMIN, Constants.REQUEST_STATUS_COMPLETED, Constants.STATUS_DISABLED_INT);
    }

    private async Task DeleteProducts()
    {
        await UpdateStatusByIDs(Constants.FUNCTION_ID_BULK_DELETE_PRODUCT_BY_ADMIN, Constants.REQUEST_STATUS_POST_DELETE, Constants.STATUS_DELETION_INT);
    }

    private async Task UpdateStatusByIDs(string functionID, string requestStatus, int newStatus)
    {
        var request = new UpdateStatusByGUIDsRequest
            {
                FunctionID = functionID,
                RequestStatus = requestStatus,
                client = Globals.ClientInformation,
                IDs = productList.Where(data => data.isSelect)
                               .Select(data => data.ProductID)
                               .ToList(),
                newStatus = newStatus
            };

        var response = await _http.PostRequestAsync(Globals.POST_UPDATE_PRODUCT_STATUS_BY_IDS, request);

        if (response.Result != ResponseResult.SUCCESS)
        {
            _toast.ShowError(response.Data);
            return;
        }
        await PopulateProducts();
        _toast.ShowSuccess(response.Data);
    }

    private void SelectAllChange()
    {
        selectAll = !selectAll;
        SelectAll(selectAll);
    }

    private void SelectAll(bool value)
    {
        foreach (var Product in productList)
        {
            Product.isSelect = value;
        }

        disableOtherButtons = productList.Where(data => data.isSelect).Count() == 0;
    }

    private void Select(ProductFullInformation product)
    {
        product.isSelect = !product.isSelect;

        disableOtherButtons = productList.Where(data => data.isSelect).Count() == 0;
    }

    private void ResetData()
    {
        selectAll = false;
    }

    private async Task ShowInfo(Guid? id = null)
    {
        ResetData();
        SelectAll(false);

        if (productInfo == null)
            return;

        await productInfo.InitializeProduct(id);
    }

    private async Task GetResponse(Response res)
    {
        if(res != null && res.Result == ResponseResult.SUCCESS)
        {
            await PopulateProducts();
            _toast.ShowSuccess(res.Data);
        }
    }
}
