@typeparam TItem

@if(Item == null) {
    if(ColType == ColumnType.CHECKBOX)
    {
        <th class="@css">
            <input class="form-check-input" type="checkbox">
        </th>
        return;
    }
    <th class="@css">@Title</th>
}
else {
    var property = typeof(TItem).GetProperty(Name);

    //Check if the property is NULL
    if(property == null)
        return;

    //Check if the property value is NULL
    var value = property.GetValue(Item);

    if(ColType == ColumnType.CHECKBOX)
    {
        if (value == null)
            return;

        <td class="@css">
            <input class="form-check-input" type="checkbox" checked="@((bool)value)">
        </td>
        return;
    }

    if (value == null)
    {
        <td class="@css">@Constants.NA</td>
        return;
    }

    //Property Name Checking
    switch(Name)
    {
        case "Status":
            var status = @Utility.ConvertStatusToString((int)value);
            <td class="@css">
                <span class="cstm-badge-@status">
                    @status
                </span>
            </td>
            break;
        case "CreatedDate":
        case "ModifiedDate":
            if (value.GetType().Name == "DateTime") {
                <td class="@css">@(((DateTime)value).ToString(Constants.DATE_FORMAT))</td>
            }
            else {
                <td class="@css">@Constants.NA</td>
            }
            break;
        default:
            <td class="@css">@value.ToString()</td>
            break;
    }
}

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public ColumnType ColType { get; set; }

    [CascadingParameter]
    public TItem Item { get; set; }

    public string css {
        get
        {
            switch (Name)
            {
                case "isSelect":
                    return "cstm-column-checkbox";
                case "Status":
                    return "cstm-column-status";
                case "CreatedDate":
                case "ModifiedDate":
                    return "cstm-column-date";
                default:
                    return string.Empty;
            }
        }
    }
}
