@page "/Brand"
@inject IHTTPService _http
<Title Icon="oi oi-tag"
       Name="Brand"
       Description="In this page you can view all the Brand that is saved in the system."></Title>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

@*Brand Action Buttons*@
<div class="cstm-actions">
    <div class="buttons">
        <button type="button" @onclick="() => ShowBrand()">
            <span class="oi oi-plus" aria-hidden="true"></span>
            Add
        </button>
        <button type="button">
            <span class="oi oi-circle-check" aria-hidden="true"></span>
            Select All
        </button>
        <button type="button">
            <span class="oi oi-circle-x" aria-hidden="true"></span>
            Unselect All
        </button>
        <button type="button">
            <span class="oi oi-chevron-top" aria-hidden="true"></span>
            Enable
        </button>
        <button type="button">
            <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
            Disable
        </button>
        <button type="button">
            <span class="oi oi-trash" aria-hidden="true"></span>
            Delete
        </button>
    </div>
    <div class="search">
        <input type="text" placeholder="Search Brand" />
        <button type="button">
            <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
            Search
        </button>
    </div>
</div>

@*Brand List*@
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Select</th>
            <th>Action</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @if (brandList.Count == 0)
        {
            <tr>
                <td colspan="7">
                    <div class="cstm-no-records">
                        No Records Found in the Database
                    </div>
                </td>
            </tr>
        }
        else
        {
            @foreach (var brand in brandList)
            {
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </td>
                    <td>
                        <a>Edit</a>
                    </td>
                    <td>@brand.Name</td>
                    <td>@brand.Description</td>

                    @*Status Column*@
                    @if (brand.Status == Constants.STATUS_ENABLED_INT)
                    {
                        <td><span class="badge bg-success">@Utility.ConvertStatusToString(brand.Status)</span></td>
                    }
                    else
                    {
                        <td><span class="badge bg-secondary">@Utility.ConvertStatusToString(brand.Status)</span></td>
                    }

                    <td>@DateTime.Parse(brand.CreatedDate.ToString()).ToString(Constants.DATE_FORMAT)</td>

                    @*Modified Date Column*@
                    @if(brand.ModifiedDate == null) {
                        <td>@Constants.NA</td>
                    }
                    else {
                        <td>@DateTime.Parse(brand.ModifiedDate.ToString()).ToString(Constants.DATE_FORMAT)</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

<BrandInfoComponent @ref="brandInfo"></BrandInfoComponent>

@code {
    private BrandInfoComponent? brandInfo { get; set; }
    private List<Brand> brandList { get; set; } = new List<Brand>();
    private string errorMessage { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        var response = _http.GetBrandsAsync(Globals.TEMP_CLIENT_ID);

        if (response.Result != ResponseResult.SUCCESS)
        {
            errorMessage = (string)response.Data;
            return;
        }

        brandList = (List<Brand>)response.Data;
    }

    private void ShowBrand(Guid? id = null)
    {
        if (brandInfo == null)
            return;

        brandInfo.InitializeBrand(Guid.NewGuid());
    }
}
